#control-container {
  display: flex;
  justify-content: center;
  gap: 12.48px;
}

#control-container button {
  display: flex;
  align-items: center;
  gap: .4rem;
  padding: 0.78rem 1.56rem;
  border-radius: 1.56rem;
  border: none;
  font-size: 1.09rem;
  font-weight: 900;
  cursor: pointer;
  transition: 0.1s all;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
}

#start, #pause, #reset{
  
}

@media screen and (max-width: 1024px) {
  #control-container button {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  #control-container {
    gap: 0;
  }

  #control-container button {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
}