#app {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 10rem 1.56rem;
  transition: 0.5s all;
}

.clock {
  font-size: 7.8rem;
  color: white;
  font-weight: 900;
}

.panel {
  width: 100%;
}

#settings {
  display: flex;
  align-items: center;
  font-weight: 900;
  background-color: white;
  padding: .7rem 1rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.5rem;
  gap: .3rem;
  box-shadow: 0 2px 5px rgba(0,0,0,.7);  
  cursor: pointer;
}

#settings:disabled{
  background-color: #746e6e;
  color: white;
}

.others {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.pomodoro {
  background-color: #ba4949;
  color: #ba4949;
  transition: 0.5s all;

  .btn-container {
    background-color: #f17981;
  }

  #pomodoro {
    color: #ba4949;
    background-color: white;
  }
}

.short {
  background-color: #38858a;
  color: #38858a;
  transition: 0.5s all;

  .btn-container {
    background-color: #327c81;
  }

  #short {
    color: #38858a;
    background-color: white;
  }
}

.long {
  background-color: #397097;
  color: #397097;
  transition: 0.5s all;

  .btn-container {
    background-color: #356485;
  }

  #long {
    color: #397097;
    background-color: white;
  }
}

.sessionCount {
  font-size: 2.34rem;
  color: white;
  font-weight: 900;
}

#skip {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 5rem;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .clock {
    font-size: 7rem;
    text-align: center;
  }

  .clock-container {
    margin: 1rem 0;
  }

  #settings{
    font-size: 1.3rem;
  }

  #app {
    height: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
}